body {
	background: #1c1c1c;
	color: white;
}
.imagenes {
	background: white;
}

.cobras {

}
.leones {

}
.leones img, .cobras img {
	max-width: 100%;
}
.votos {
	width:100%;
	margin: 0 auto;
	padding:10px;list-style:none;}
.fuegos {
	background: url(../img/fondo-azul.png) no-repeat right center, url(../img/fondo-amarillo.png) no-repeat left center;
}